@page
@model Excercise_1.Pages.Page2Model
@{
    ViewData["Title"] = "Page 2";
}

<div class="text-center">
    <h1 class="display-4">Welcome to page 2</h1>
    <p>This is page 2 on the website</p>

</div>
